<div id="edit-form" class="devise-form">

  <h2>Edit Profile</h2>

  <br />

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>

    <div><%= f.text_field :name, autofocus: true, placeholder: 'Full Name' %></div>

    <div><%= f.email_field :email, placeholder: 'Email' %></div>

    <div><%= f.number_field :zip_code, in: (00000..99999), placeholder: 'Zip Code' %></div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div><%= f.label :password %> <i>Leave this blank unless you want to change it</i><br />
      <%= f.password_field :password, autocomplete: "off" %></div>

    <div><%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %></div>

    <div><%= f.label :game_notifications, 'Notify me when players join my games' %>
    <%= f.check_box :game_notifications %></div>

    <div><%= f.label :court_notifications, 'Notify me when my courts get new games' %>
    <%= f.check_box :court_notifications %></div>

    <div><%= f.label :current_password %> <i>Enter your passowrd to make changes</i><br />
      <%= f.password_field :current_password, autocomplete: "off" %></div>

    <div><%= f.submit "Update" %></div>
  <% end %>

  <p>Unhappy with BallerNYC? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

  <%= link_to "Back", :back %>

</div>
