<div class="result-court-box">
  <div class="result-court-box-inner">
    <div class="result-court-header">
      <a href="/courts/<%= court.id %>">
        <%= court.name %>
      </a>
    </div>
    <a href="/courts/<%= court.id %>">
      <img src="http://maps.googleapis.com/maps/api/staticmap?center=<%= court.latitude %>,<%= court.longitude %>&size=400x400&zoom=20&maptype=satellite" />
    </a>
    <div class="result-court-footer">
      Placeholder Text
    </div>
  </div>
</div>
