<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "BallerNYC" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_API_KEY'] %>&v=3.exp"></script>
  </head>

  <body>

    <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <li class="name">
          <h1><a href="#">BallerNYC</a></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
      </ul>

      <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
          <li><%= link_to image_tag(current_user.image_url, class: "profile-picture"), root_path if user_signed_in? %></li>
          <li><%= link_to 'Home', root_path %></li>
          <% if user_signed_in? %>
            <li><%= link_to 'Sign out', destroy_user_session_path, method: :delete, id: "sign-out-link" %></li>
          <% else %>
            <li><%= link_to 'Sign in', new_user_session_path %></li>
          <% end %>
        </ul>
      </section>
      <ul class="left">
        <li class="has-form">
          <div class="row collapse">
            <div class="small-9 columns">
              <%= text_field_tag :query, nil, placeholder: 'search by location', class: "top-nav-court-search" %>
            </div>
            <div class="small-3 columns">
              <%= button_tag("go", class: "top-nav-court-search button expand") %>
            </div>
          </div>
        </form>
        </li>
      </ul>
    </nav>

    <%= yield %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= javascript_include_tag "application" %>

  </body>
</html>
